.tfvars.tf
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
crash.log
.terraform
.terraform.lock.hcl
credentials.pkr.hcl
downloaded_iso_path/
.vscode/
1password-credentials.json
kubernetes/szilardshome/infrastructure/controllers/argocd/charts